/* Reset CSS */
*,
*::before,
*::after {
  box-sizing: border-box; /* パディングとボーダーを含めたサイズ計算にする */
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

/* Background Animation */
body {
  padding: 10px 10px 40px 10px;
  background: linear-gradient(120deg, #1e1e1e, #3a3a3a, #606060);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
  background-repeat: no-repeat;
  color: #fff;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

main {
  margin: 0 auto;
  max-width: 600px;
}

h1 {
  font-size: 3em;
  margin-top: 20vh;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

p {
  font-size: 1.2em;
  line-height: 1.6;
}

ul {
  font-size: 20px;
  line-height: 1.6;
}

li {
  font-size: 20px;
  line-height: 1.6;
}

a {
  color: #fff;
}

a:hover {
  color: lightgray;
}

pre {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}

table {
  display: table;
  max-width: 600px;
  margin: 0 auto;
  border: 2px solid #fff;
  border-collapse: collapse;
}

.blog_image{
  display: block;
  width: 90%;
  margin: 0 auto;
}

.blog-footer {
  color: white;
  padding: 20px 0;
  text-align: center;
  margin-top: 20px;
}

.blog-footer p {
  margin: 5px 0;
}

.blog-footer a {
  color: #ffcc00;
  text-decoration: none;
  font-weight: bold;
}

.blog-footer a:hover {
  text-decoration: underline;
}

.back-to-home {
  display: block;
  margin-top: 15px;
  font-size: 20px;
  color: #ffcc00;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.back-to-home:hover {
  color: #ffffff;
}
