/* Reset CSS */
*,
*::before,
*::after {
  box-sizing: border-box; /* パディングとボーダーを含めたサイズ計算にする */
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

/* Background Animation */
body {
  padding: 10px 10px 40px 10px;
  background: linear-gradient(120deg, #1e1e1e, #3a3a3a, #606060);
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
  background-repeat: no-repeat;
  color: #fff;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


/* Content Section */
h1 {
  font-size: 3em;
  margin-top: 20vh;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

p {
  font-size: 1.2em;
  line-height: 1.6;
  margin: 0 auto;
  max-width: 600px;
}

ul {
  font-size: 1.2em;
  line-height: 1.6;
}

li {
  font-size: 1.2em;
  line-height: 1.6;
}

.ul_wrapper {
  margin: 0 auto;
  max-width: 600px;
}

.blog_image{
  display: block;
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
}
